/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --cairo-font: "Cairo", serif;
  --openSans-font: "Open Sans", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #6c5dd3;
  --primary-soft-clr: #f0eeff;
  --primary-bg-clr: #121212;
  --primary-text-clr: #11142d;
  --secondary-text-clr: #aaa;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1620px;
  margin: 0 auto;
}
.common_btn {
  padding: 13px 29px;
  font-family: var(--cairo-font);
  font-size: 18px;
  font-weight: var(--bold-weight);
  color: var(--white-clr);
  line-height: normal;
  border-radius: 14px;
  background-color: var(--primary-clr);
  box-shadow: 0px 25px 33px 0px rgba(108, 93, 211, 0.25);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-clr);
  background-color: var(--primary-soft-clr);
}
.common_section_heading h2 {
  color: var(--primary-text-clr);
  font-family: var(--cairo-font);
  font-size: 50px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 10px;
}
.common_section_heading p {
  color: var(--primary-text-clr);
  font-family: var(--openSans-font);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
/* ============= common css end here ================ */

/* ============ navbar css start here =============== */
nav {
  padding: 33px 0 !important;
  width: 100%;
  box-shadow: 0px 29px 39px 0px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid #f0f0f0;
}
.navbar-brand {
  padding-right: 146px;
  margin-right: unset;
}
.nav_search_box.input-group {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}
.nav_search_box {
  max-width: 940px;
  background-color: var(--white-clr);
  border: unset;
  border-radius: 14px !important;
  -webkit-border-radius: 14px !important;
  -moz-border-radius: 14px !important;
  -ms-border-radius: 14px !important;
  -o-border-radius: 14px !important;
  font-family: var(--cairo-font);
}
.nav_search_box input {
  padding: 19px 29px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
}
.nav_search_box span {
  padding: 19px 29px;
  display: flex;
  align-items: center;
  column-gap: 17px;
  background-color: var(--white-clr);
  color: #6c5dd3;
  font-size: 18px;
  border: 1px solid #e1e1e1;
}
.nav_search_box span:nth-child(1) {
  border-radius: 14px 0px 0px 14px;
  -webkit-border-radius: 14px 0px 0px 14px;
  -moz-border-radius: 14px 0px 0px 14px;
  -ms-border-radius: 14px 0px 0px 14px;
  -o-border-radius: 14px 0px 0px 14px;
}
.nav_search_box span {
  border-radius: 0px 14px 14px 0px;
  -webkit-border-radius: 0px 14px 14px 0px;
  -moz-border-radius: 0px 14px 14px 0px;
  -ms-border-radius: 0px 14px 14px 0px;
  -o-border-radius: 0px 14px 14px 0px;
}
.nav_btn_wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.nav_btn_wrapper .common_btn i {
  padding-right: 20px;
  font-size: 22px;
}

/* ============ navbar css end here =============== */

/* ================ banner section css start here =============== */
#banner {
  padding: 39px 0 60px;
}
.banner_left_part {
  max-width: 1212px;
}
.banner_right_part {
  max-width: 384px;
}
/* ================ banner section css end here =============== */
/* ================ service section css start here =============== */
.service_item {
  padding: 20px 0;
  gap: 25px;
}
.service_item_icon {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  background: var(--primary-soft-clr);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  text-align: center;
  flex-shrink: 0;
}
.service_item_icon i {
  line-height: 60px;
  font-size: 28px;
  color: var(--primary-clr);
}
.service_item_content h4 {
  font-family: var(--cairo-font);
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: 24px;
  margin-bottom: 10px;
}
.service_item_content p {
  max-width: 267px;
  color: var(--secondary-text-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
/* ================ service section css end here =============== */
/* ================ feature section css start here =============== */
#feature {
  padding: 100px 0 130px;
}
.feature_left_part_wrapper,
.feature_right_part_wrapper {
  background: url(../images/feature_1_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 38px 75px 44px 70px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.feature_right_part_wrapper {
  background: url(../images/feature_2_bg.png);
}
.feature_left_part_wrapper h3,
.feature_right_part_wrapper h3 {
  font-family: var(--cairo-font);
  color: var(--primary-text-clr);
  font-size: 36px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 10px;
}
.feature_left_part_wrapper p,
.feature_right_part_wrapper p {
  max-width: 512px;
  color: var(--primary-text-clr);
  font-family: var(--openSans-font);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 50px;
}
.feature_left_item_wrapper,
.feature_right_part_wrapper {
  position: relative;
}
.feature_slider_arrow {
  position: absolute;
  right: -20px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-clr);
  filter: drop-shadow(0px 25px 33px rgba(108, 93, 211, 0.25));
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.feature_slider_arrow {
  line-height: 50px;
  font-size: 22px;
  color: var(--primary-text-clr);
}
/* ================ feature section css end here =============== */
/* ================ offers section css start here =============== */
#offers {
  padding: 30px 0;
}
#offers .common_section_heading {
  text-align: center;
  margin-bottom: 76px;
}
#offers .common_section_heading p {
  max-width: 650px;
  margin: 0 auto;
}
.offers_item_wrapper {
  max-width: 512px;
  border-radius: 14px;
  border: 1px solid #f0f0f0;
  margin: 0 auto;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  margin-bottom: 70px;
}
.offers_item_wrapper:hover {
  box-shadow: 0px 25px 33px 0px rgba(108, 93, 211, 0.25);
}
.offer_item_image {
  width: 100%;
  height: 306px;
  border-radius: 14px;
  background: #c4c4c4;
  overflow: hidden;
  object-fit: cover;
}
.offer_item_content_wrapper {
  padding: 30px;
}
.offer_item_heading {
  color: var(--primary-text-clr);
  font-family: var(--cairo-font);
  font-size: 24px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 10px;
}
.offer_item_category_wrapper {
  column-gap: 10px;
}
.offer_item_category {
  padding: 7px 14px 6px;
  border-radius: 14px;
  background: var(--primary-soft-clr);
  color: var(--primary-clr);
  font-family: var(--openSans-font);
  font-size: 12px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.offer_item_details {
  color: rgba(0, 0, 0, 0.8);
  font-family: var(--openSans-font);
  font-size: 16px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin: 18px 0 30px;
}
.offer_item_user {
  color: var(--primary-text-clr);
  font-family: var(--openSans-font);
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
  margin-bottom: 30px;
}
.offer_purchase_wrapper {
  column-gap: 80px;
}
.offer_purchase_wrapper .common_btn {
  padding: 13px 51px;
}
.offer_purchase_wrapper .common_btn i {
  margin-right: 17px;
  font-size: 22px;
}
.offer_price {
  color: var(--primary-text-clr);
  font-family: var(--cairo-font);
  font-size: 28px;
  font-weight: var(--bold-weight);
  line-height: 24px;
}
.offer_old_price {
  margin-left: 16px;
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--semi-bold-weight);
}
.offers_item_arrow_wrapper {
  column-gap: 28px;
}
.offers_arrows {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--primary-soft-clr);
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.offers_arrows i {
  line-height: 57px;
  color: var(--primary-clr);
}
.offers_arrows:hover {
  background-color: var(--primary-soft-clr);
}
/* ================ offers section css end here =============== */
/* ================ flash section css start here =============== */
#flash_sale {
  padding: 92px 0 100px;
}
#flash_sale .common_section_heading {
  text-align: center;
  margin-bottom: 5px;
}
#flash_sale .common_section_heading p {
  max-width: 554px;
  margin: 0 auto;
}
.flash_countdown_wrapper {
  max-width: 505px;
  border-radius: 14px;
  border: 1px solid var(--primary-soft-clr);
  padding: 0 42px 13px;
  text-align: center;
  margin-bottom: 59px;
}
.flash_countdown_wrapper h4 {
  color: #ff754c;
  font-family: var(--cairo-font);
  font-size: 50px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.flash_countdown_wrapper p {
  color: #11142d;
  font-family: var(--openSans-font);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: 28px;
}
.flash_sale_item_wrapper {
  padding: 20px 23px;
  max-width: 275px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #fff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  text-align: center;
  border: 1px solid var(--transparent-clr);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.flash_sale_item_wrapper:hover {
  border-color: var(--secondary-text-clr);
  box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.1);
}

.flash_sale_item_image {
  width: 100%;
  height: 322px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #c4c4c4;
  margin-bottom: 18px;
}
.flash_sale_content h3 {
  color: var(--primary-text-clr);
  font-family: var(--cairo-font);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.flash_sale_content h4 {
  color: var(--primary-clr);
  font-family: var(--openSans-font);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 9px;
}
.flash_sale_price {
  color: var(--primary-clr);
  font-family: var(--cairo-font);
  font-size: 28px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.flash_sale_price del {
  color: var(--secondary-text-clr);
  font-size: 20px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
/* ================ flash section css end here =============== */
/* ================ book_sale section css start here =============== */
#book_sale {
  padding: 30px 0 56px;
}
#book_sale .common_section_heading {
  margin-bottom: 34px;
}
.book_sale_arrows_wrapper {
  column-gap: 132px;
  position: relative;
  align-items: center;
  height: 32px;
}
.book_sale_arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-soft-clr);
  text-align: center;
  cursor: pointer;
}
.book_sale_arrow {
  font-size: 16px;
  line-height: 32px;
  color: var(--primary-clr);
}
.book_sale_arrows_wrapper .slider_dots_wrapper {
  column-gap: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.book_sale_arrows_wrapper .slider_dots {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--primary-soft-clr);
}
.book_sale_arrows_wrapper .slider_dots.active {
  background-color: var(--primary-clr);
}
.book_sale_item_wrapper {
  max-width: 239px;
  cursor: pointer;
}
.book_discount {
  left: 0;
  top: 24px;
  padding: 9px 20px 6px 19px;
  background-color: #ff754c;
  color: var(--white-clr);
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;
  font-family: var(--cairo-font);
  font-size: 26px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}
.book_sale_item_image {
  width: 100%;
  height: 336px;
  border-radius: 14px;
  background-color: #c4c4c4;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.book_sale_item_details {
  padding: 18px 2px 2px;
}
.book_sale_item_details h4 {
  font-family: var(--cairo-font);
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.book_sale_item_details h6 {
  font-family: var(--openSans-font);
  color: var(--primary-clr);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 25px;
}

.book_sale_item_price_wrapper .rating {
  color: #ff754c;
  font-family: var(--openSans-font);
  font-size: 18px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.book_sale_item_price_wrapper .rating i {
  font-size: 22px;
  margin-right: 10px;
}
.book_sale_item_price_wrapper .price {
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: normal;
}
.book_sale_item_price_wrapper .price del {
  margin-left: 8px;
  font-family: var(--cairo-font);
  color: var(--secondary-text-clr);
  font-size: 16px;
  font-weight: var(--semi-bold-weight);
  line-height: normal;
}

/* ================ book_sale section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
