/* ============== import area start here =================== */

/* ============== import area end here =================== */
/* ============ css variables ============= */
:root {
  /* === font family === */
  --cairo-font: "Cairo", serif;
  --openSans-font: "Open Sans", serif;
  /* === font family === */
  /* === font weight === */
  --light-weight: 300;
  --regular-weight: 400;
  --medium-weight: 500;
  --semi-bold-weight: 600;
  --bold-weight: 700;

  /* === font weight === */
  /* === colors === */
  --white-clr: #fff;
  --black-clr: #000;
  --primary-clr: #6c5dd3;
  --primary-bg-clr: #121212;
  --secondary-bg-clr: #191919;
  --primary-text-clr: #11142d;
  --transparent-clr: transparent;
  /* === colors === */
  /* === method === */
  --transition: all 0.3s linear;
  /* === method === */
}
/* ============ css variables ============= */

/* ============= common css start here ================ */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
ul,
ol,
menu {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
menu,
div {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
img {
  vertical-align: middle;
}
.container {
  max-width: 1620px;
  margin: 0 auto;
}
.common_btn {
  padding: 13px 29px;
  font-family: var(--cairo-font);
  font-size: 18px;
  font-weight: var(--bold-weight);
  color: var(--white-clr);
  line-height: normal;
  border-radius: 14px;
  background-color: var(--primary-clr);
  box-shadow: 0px 25px 33px 0px rgba(108, 93, 211, 0.25);
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.common_btn:hover {
  color: var(--primary-clr);
  background-color: #f0eeff;
}
/* ============= common css end here ================ */

/* ============ navbar css start here =============== */
nav {
  padding: 33px 0 !important;
  width: 100%;
  box-shadow: 0px 29px 39px 0px rgba(0, 0, 0, 0.01);
  border-bottom: 1px solid #f0f0f0;
}
.navbar-brand {
  padding-right: 146px;
  margin-right: unset;
}
.nav_search_box.input-group {
  border-radius: unset;
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  -ms-border-radius: unset;
  -o-border-radius: unset;
}
.nav_search_box {
  max-width: 940px;
  background-color: var(--white-clr);
  border: unset;
  border-radius: 14px !important;
  -webkit-border-radius: 14px !important;
  -moz-border-radius: 14px !important;
  -ms-border-radius: 14px !important;
  -o-border-radius: 14px !important;
  font-family: var(--cairo-font);
}
.nav_search_box input {
  padding: 19px 29px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
}
.nav_search_box span {
  padding: 19px 29px;
  display: flex;
  align-items: center;
  column-gap: 17px;
  background-color: var(--white-clr);
  color: #6c5dd3;
  font-size: 18px;
  border: 1px solid #e1e1e1;
}
.nav_search_box span:nth-child(1) {
  border-radius: 14px 0px 0px 14px;
  -webkit-border-radius: 14px 0px 0px 14px;
  -moz-border-radius: 14px 0px 0px 14px;
  -ms-border-radius: 14px 0px 0px 14px;
  -o-border-radius: 14px 0px 0px 14px;
}
.nav_search_box span {
  border-radius: 0px 14px 14px 0px;
  -webkit-border-radius: 0px 14px 14px 0px;
  -moz-border-radius: 0px 14px 14px 0px;
  -ms-border-radius: 0px 14px 14px 0px;
  -o-border-radius: 0px 14px 14px 0px;
}
.nav_btn_wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.nav_btn_wrapper .common_btn i {
  padding-right: 20px;
  font-size: 22px;
}

/* ============ navbar css end here =============== */

/* ================ banner section css start here =============== */
#banner {
  padding: 39px 0 60px;
}
.banner_left_part {
  max-width: 1212px;
}
.banner_right_part {
  max-width: 384px;
}
/* ================ banner section css end here =============== */
/* ================ service section css start here =============== */
.service_item {
  padding: 20px 0;
  gap: 25px;
}
.service_item_icon {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  background: #f0eeff;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  text-align: center;
  flex-shrink: 0;
}
.service_item_icon i {
  line-height: 60px;
  font-size: 28px;
  color: var(--primary-clr);
}
.service_item_content h4 {
  font-family: var(--cairo-font);
  color: var(--primary-text-clr);
  font-size: 20px;
  font-weight: var(--bold-weight);
  line-height: 24px;
  margin-bottom: 10px;
}
.service_item_content p {
  max-width: 267px;
  color: #aaaaaa;
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
}
/* ================ service section css end here =============== */
/* ================ feature section css start here =============== */
#feature {
  padding: 100px 0 130px;
}
.feature_left_part_wrapper,
.feature_right_part_wrapper {
  background: url(../images/feature_1_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 38px 75px 44px 70px;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}
.feature_right_part_wrapper {
  background: url(../images/feature_2_bg.png);
}
.feature_left_part_wrapper h3,
.feature_right_part_wrapper h3 {
  font-family: var(--cairo-font);
  color: var(--primary-text-clr);
  font-size: 36px;
  font-weight: var(--bold-weight);
  line-height: normal;
  margin-bottom: 10px;
}
.feature_left_part_wrapper p,
.feature_right_part_wrapper p {
  max-width: 512px;
  color: var(--primary-text-clr);
  font-family: var(--openSans-font);
  font-size: 14px;
  font-weight: var(--regular-weight);
  line-height: normal;
  margin-bottom: 50px;
}
.feature_left_item_wrapper,
.feature_right_part_wrapper {
  position: relative;
}
.feature_slider_arrow {
  position: absolute;
  right: -20px;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white-clr);
  filter: drop-shadow(0px 25px 33px rgba(108, 93, 211, 0.25));
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.feature_slider_arrow {
  line-height: 50px;
  font-size: 22px;
  color: var(--primary-text-clr);
}
/* ================ feature section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
/* ================ section css start here =============== */

/* ================ section css end here =============== */
